.team__header{
  height: 3rem;
}

.team__logo{
  display: flex;
  align-items: center;
  justify-self: center;
  max-height: 5rem;
}

.team__logo img{
  display: block;
  max-height: 10vh;
  width: 100%;
  height: auto;
  min-height: 4rem;
  margin: 0.25rem;
}

.team__logo-img{
  object-fit: contain;
  display: block;
}

.team__title{
  text-align: end;
  padding-right: 1rem;
}

.team__standing{
  font-weight: bold;
  font-size: 1.25rem;
}